<p>
  <b>Answer:</b>
  <%=h @reply.answer %>
</p>

<p>
  <b>Note:</b>
  <%=h @reply.note %>
</p>

<% if @reply.user_id == @user.id %>
	<%= link_to 'Edit', edit_reply_path(@reply) %>
<% end %>
<%= link_to 'Back', user_url(current_user) %>