<% top do %>
  <% limiter do %>
    <% floatL do %>
      <a href="#"><img alt="Sitter Calling" src="/images/logo_home.png" /></a>
    <% end %>
    <%floatR do %>
		<% if current_user %>
			<%= link_to "Home", user_url(current_user) %>
			<%= link_to "Edit Profile", edit_user_path(current_user) %>
			<%= link_to "History", :controller => 'histories' %>
			<%= link_to "Logout", logout_path %>
		<% end %>
	
    <% end %>
  <% end %>
<% end %>
